body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    margin: 0;
}
/* .hola{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.btn{
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    transition: ease 0.4s;
}
.btn:hover{
    scale: 1.3;
}
